@model AppApi.Model.About

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>About</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id_About" />
            <div class="form-group">
                <label asp-for="About_Image" class="control-label">Current Image</label>
                @if (Model.About_Image != null)
                {
                    <img src="data:image/png;base64,@Model.About_Image" alt="Current Image" style="max-width:200px; max-height:200px;" />
                }
                else
                {
                    <span>No Image</span>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
