@model IEnumerable<AppApi.Model.About>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.About_Image)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @if (item.About_Image != null)
                    {
                        <img src="data:image/png;base64,@item.About_Image" alt="Image" style="max-width:200px; max-height:200px;" />
                    }
                    else
                    {
                        <span>No Image</span>
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id_About">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id_About">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id_About">Delete</a>
                </td>
            </tr>
        }
</table>
